body {
background-image: url(../img/mystic-space.jpeg);
/*color: white;*/
}

h1 {
  font-size: 150px;
  font-family: 'Creepster', cursive;
  text-align: center;
  /*color: #ccff99;*/
  color: #d5ff80;
  margin-top: 90px;
  margin-bottom: -30px;
}
h2 {
  font-family: 'Satisfy', cursive;
  font-size: 40px;
  color: #00cc66;
  text-align: center;
  margin-bottom: 35px;
}

h3 {
  font-family: 'Patua One', cursive;
  font-size: 40px;
  color: #4d004d;
}

h4 {
  color: #4d004d;
  font-size: 25px;
  font-family: 'Patua One', cursive;
}

h5 {
  font-family: 'Patua One', cursive;
  font-size: 35px;
  color: #4d004d;
  margin-top: 50px;
}

p {
  color: #4d004d;
  font-family: 'Armata', sans-serif;
  font-size: 20px;
}

img {
  margin-left: 90px;
  max-width: 400px;
}

label {
  font-family: 'Armata', sans-serif;
  color: #4d004d;
  font-size: 15px;
  margin-left: 5px;
}

#size-options {
  font-family: 'Armata', sans-serif;
  color: #4d004d;
}

#protein-options {
  font-family: 'Armata', sans-serif;
  color: #4d004d;
}

#cheese-options {
  font-family: 'Armata', sans-serif;
  color: #4d004d;
}

.row {
  background-color: rgba(255, 128, 255, 0.70);
  padding: 35px;
  border-radius: 20px;
}

.output {
  display: none;
  margin-left: 150px;
}

.btn {
  background-color: #4d004d;
  padding: 11px;
  font-family: 'Armata', sans-serif;
  font-size: 20px;
  color: #00cc66;
  border-color: #00cc66;
}

.btn:hover {
  background-color: #00cc66;
  color: #4d004d;
  border-color: #4d004d;
}
